.aboutimage{
  padding-left: 577px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.textarea{
  font-family: 'Open Sans', sans-serif;
  padding-left: 725px;
  padding-bottom: 50px;
}

.textarea2{
  width: 500px;
  margin-left: 555px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
